*{
    box-sizing: border-box;
}
#banner h1{
    font-family:serif;
    font-weight: bolder;
}
.responsive{
    width: 100%;
    max-width: 350px;
    height: 200px;
}
.flex-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: rgba(86,61,124,0.15);
    justify-content: center;
  }
  
.flex-container h6{
         padding-top: 20px; 
         color: rgb(71, 70, 70);
    }
.flex-container p{
        text-align: left;
        font-size: 12px;
        color: rgb(78, 77, 77);
    }
.flex-container a{
        float: right;
        padding: 2px;
        font-size: 12px;
        margin-bottom: 40px;
    }
    #work{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        background-color: rgba(86,61,124,0.15);
    }
    #brands{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-bottom: 50px;
    }
    #brands .responsive{
        width: 100%;
        height: auto;
    }
    